<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>Splurty was built by <a target="_blank" href="https://github.com/tylerbraddock">Tyler</a>, a student at the Firehose Project Online Software Engineering Program.</p>

  <br />

  <p>He marvels at the thought of learning something new everyday, and Splurty is only the beginning. Along his journey towards professional web development, Tyler looks forward to building many more fantastic web applications. Stay tuned.</p>

  <p>If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here.</a>

  <br />
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me (2).jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Tyler Braddock</h2>
    <br />
    <p>Tyler Braddock is an aspiring web developer, currently learning HTML/CSS, Ruby, Rails, and JavaScript through the Firehose Project Online Software Engineering Program. Previously, he spent 4 years in the U.S. Air Force as an Electronic Warfare Avionics Systems Journeyman. In healthcare, Tyler briefly held a role as an ER nurse. He holds two degrees, a B.S. in Exercise Science and a B.S. in Nursing.</p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />

